In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
db = pd.read_csv(r'C:\Users\Carol\Documents\Provi\provi.csv', sep=';', encoding='latin-1')

In [48]:
db.to_csv('provi3.csv', sep=';', encoding='latin-1')

# exploratória/cleaning

Senti falta das seguintes variaveis e por que (respectivamente):
Numero de parcelas. Fazer uma serie temporal pra ver em qual momento a taxa de churn (vou chamar assim o usuário não pagou na data regular a parcela do financiamento) é maior.
Nome da escola ou área do curso. Ver a correlação com churn, renda e numero de parcelas.

In [3]:
db.head()

,id,UserId,installmentStatus,declaredMonthlyEarns,serasaIncome,ph3aIncome,installmentValue,installmentDueDate,createdAt,updatedAt
0,362,92d5a4b9-ab4f-48f3-b7a1-dfd81fedf710,pending,3000.0,"Até R$ 1.000,00","{""Of"":""624,00"",""To"":""1.000,99""}",258.56,2019-09-25,2019-09-04 16:05:10.818+00,2019-09-04 16:05:10.818+00
1,363,9e35210a-e9b8-4428-b3d1-1c45958d1adf,pending,2500.0,"Mais de R$ 4.000,00 a R$ 5.000,00","{""Of"":""3.001,00"",""To"":""3.500,99""}",556.26,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
2,364,f1b46e91-a94b-4f91-a267-1c25891f9827,pending,1800.0,"Mais de R$ 1.500,00 a R$ 2.000,00","{""Of"":""1.001,00"",""To"":""1.500,99""}",497.77,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
3,365,c162990c-91a3-4d7b-be82-cbdd19620337,pending,1500.0,"Mais de R$ 9.000,00","{""Of"":""8.001,00"",""To"":""9.000,99""}",1157.55,2019-10-10,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
4,366,b0cd0911-4a19-49b2-9457-d02caec5031d,pending,1500.0,"Mais de R$ 2.500,00 a R$ 3.000,00","{""Of"":""3.501,00"",""To"":""4.000,99""}",501.57,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00

In [4]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
id                      101 non-null int64
UserId                  101 non-null object
installmentStatus       101 non-null object
declaredMonthlyEarns    101 non-null float64
serasaIncome            17 non-null object
ph3aIncome              51 non-null object
installmentValue        101 non-null float64
installmentDueDate      101 non-null object
createdAt               101 non-null object
updatedAt               101 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 8.0+ KB

In [5]:
db.shape

(101, 10)

In [6]:
db['serasaIncome'] = db['serasaIncome'].astype(str)

In [7]:
db['serasaIncome'].replace('\D', '',regex=True, inplace=True)

In [8]:
db.head(7)

,id,UserId,installmentStatus,declaredMonthlyEarns,serasaIncome,ph3aIncome,installmentValue,installmentDueDate,createdAt,updatedAt
0,362,92d5a4b9-ab4f-48f3-b7a1-dfd81fedf710,pending,3000.0,100000,"{""Of"":""624,00"",""To"":""1.000,99""}",258.56,2019-09-25,2019-09-04 16:05:10.818+00,2019-09-04 16:05:10.818+00
1,363,9e35210a-e9b8-4428-b3d1-1c45958d1adf,pending,2500.0,400000500000,"{""Of"":""3.001,00"",""To"":""3.500,99""}",556.26,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
2,364,f1b46e91-a94b-4f91-a267-1c25891f9827,pending,1800.0,150000200000,"{""Of"":""1.001,00"",""To"":""1.500,99""}",497.77,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
3,365,c162990c-91a3-4d7b-be82-cbdd19620337,pending,1500.0,900000,"{""Of"":""8.001,00"",""To"":""9.000,99""}",1157.55,2019-10-10,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
4,366,b0cd0911-4a19-49b2-9457-d02caec5031d,pending,1500.0,250000300000,"{""Of"":""3.501,00"",""To"":""4.000,99""}",501.57,2019-09-25,2019-09-04 16:05:10.819+00,2019-09-04 16:05:10.819+00
5,367,36939d14-0615-43ea-b435-55f6f3a371ef,pending,8000.0,300000400000,"{""Of"":""3.501,00"",""To"":""4.000,99""}",796.94,2019-09-25,2019-09-04 16:05:10.82+00,2019-09-04 16:05:10.82+00
6,368,ac88fa96-21dd-49a2-b41e-e29e4231ddb2,pending,10000.0,,"{""Of"":""11.001,00"",""To"":""12.000,99""}",746.08,2019-09-10,2019-09-04 16:05:10.82+00,2019-09-04 16:05:10.82+00

In [25]:
db['serasaIncome'].replace('\D',0, inplace=True)

In [35]:
db['serasaIncome'].replace("",0, inplace=True)

In [36]:
db['serasaIncome'].replace("-", 0, inplace=True)

In [41]:
db['serasaIncome'] = pd.to_numeric(db['serasaIncome'], errors='coerce')

In [12]:
y = db['serasaIncome'].str[6:-2].astype('object')

In [22]:
try :
    x.astype('int64')
except ValueError:
    pass

In [23]:
db['test'] = x

In [24]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
id                      101 non-null int64
UserId                  101 non-null object
installmentStatus       101 non-null object
declaredMonthlyEarns    101 non-null float64
serasaIncome            101 non-null object
ph3aIncome              51 non-null object
installmentValue        101 non-null float64
installmentDueDate      101 non-null object
createdAt               101 non-null object
updatedAt               101 non-null object
test                    101 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 8.8+ KB

In [49]:
db['declaredMonthlyEarns'].value_counts()

0.0        12
3000.0      9
2500.0      8
2000.0      6
1500.0      5
3500.0      5
10000.0     4
7000.0      4
1000.0      4
5000.0      4
1800.0      3
8000.0      3
1200.0      3
6000.0      2
4000.0      2
1600.0      2
4500.0      2
1700.0      2
7500.0      2
3700.0      1
2300.0      1
5500.0      1
2994.0      1
11000.0     1
12900.0     1
9500.0      1
3200.0      1
8500.0      1
2100.0      1
3060.0      1
1.0         1
12000.0     1
2700.0      1
3400.0      1
2800.0      1
20000.0     1
3300.0      1
4750.0      1
Name: declaredMonthlyEarns, dtype: int64

In [55]:
import sqlalchemy as sql

In [56]:
engine = sql.create_engine("postgres://lyvmydeu:Euvx1U98D3_Uo3c8Uxipb-zlwcvvgfS0@salt.db.elephantsql.com:5432/lyvmydeu",
                            encoding='latin1', echo=True)

In [57]:

df= pd.read_sql_query(""" SELECT * from "InstallmentOverviews" """, engine)

2019-09-22 14:14:28,167 INFO sqlalchemy.engine.base.Engine select version()
2019-09-22 14:14:28,168 INFO sqlalchemy.engine.base.Engine {}
2019-09-22 14:14:28,443 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-09-22 14:14:28,444 INFO sqlalchemy.engine.base.Engine {}
2019-09-22 14:14:28,715 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-09-22 14:14:28,717 INFO sqlalchemy.engine.base.Engine {}
2019-09-22 14:14:28,855 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-09-22 14:14:28,857 INFO sqlalchemy.engine.base.Engine {}
2019-09-22 14:14:29,125 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-09-22 14:14:29,127 INFO sqlalchemy.engine.base.Engine {}
2019-09-22 14:14:29,400 INFO sqlalchemy.engine.base.Engine  SELECT * from "InstallmentOverviews"
2019-09-22 14:14:29,401 INFO sqlalchemy.engine.base.Engine {}